<link rel="import" href="../polymer/polymer-element.html" />

<link rel="import" href="../iron-icons/iron-icons.html" />
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />


<dom-module id="button-back">
	<template>
		<style>
			:host,
			a {
				display: inline-block;
				color: var(--primary-text-color);
			}

			:host(:not([can-go-back])) {
				color: var(--disabled-text-color);
			}
		</style>

		<a href="[[backUrl]]">
			<paper-icon-button
				icon="[[icon]]"
				alt="[[alt]]"
				disabled$="[[!canGoBack]]"
			></paper-icon-button>
		</a>
	</template>

	<script>
		/**
		 * Element to go to the previous page
		 *
		 * This element doesn't work like `window.history.back()` but compute a link from the given URL to go to the previous folder (or slash in the URL)
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class ButtonBack extends Polymer.Element {
			static get is() { return 'button-back' }


			static get properties() {
				return {
					/**
					 * Route object provided by [`<app-location>`](https://www.webcomponents.org/element/PolymerElements/app-route/elements/app-location#property-route)
					 *
					 * This is the only property __required__
					 */
					route: {
						type: Object,
						notify: true,
					},
					/** Same as [`<app-location>`](https://www.webcomponents.org/element/PolymerElements/app-route/elements/app-location#property-useHashAsPath) */
					useHashAsPath: {
						type: Boolean,
						value: false,
					},

					/**
					 * Special URL who redirect to another URL
					 *
					 * __key__: computed URL to go back
					 *
					 * __value__: redirect URL
					 *
					 * Example:
					 * ```html
					 * <button-back
					 * 	route="{{route}}"
					 * 	special-url='{"/this/path/redirect/to/another": "/other/url"}'
					 * ></button-back>
					 * ```
					 *
					 * @type {{string: string}}
					 */
					specialUrl: {
						type: Object,
					},

					/** Computed URL to go back */
					backUrl: {
						type: String,
						notify: true,
						computed: '__computeBackUrl(route.path, useHashAsPath, specialUrl)',
					},

					/** Settled if this is not the root page */
					canGoBack: {
						type: Boolean,
						value: true,
						reflectToAttribute: true,
						computed: '__computeCanGoBack(route.path)',
					},

					/** Same as [`<paper-icon-button>`](https://www.webcomponents.org/element/PolymerElements/paper-icon-button/elements/paper-icon-button#property-icon) */
					icon: {
						type: String,
						value: 'icons:arrow-back',
					},

					/** Same as [`<paper-icon-button>`](https://www.webcomponents.org/element/PolymerElements/paper-icon-button/elements/paper-icon-button#property-alt) */
					alt: {
						type: String,
						value: 'Back',
					},
				}
			}


			__computeBackUrl(path='', useHashAsPath=false, specialUrl=new Map()) {
				let backUrl = path.split('/').slice(0, -1).join('/')

				if (backUrl in specialUrl) {
					backUrl = specialUrl[backUrl]
				}

				if (useHashAsPath) {
					const search = window.location.search ? `?${window.location.search}` : ''
					backUrl = `${window.location.pathname}${search}#${backUrl}`
				}

				return backUrl
			}


			__computeCanGoBack(path) {
				return path !== ''
			}
		}

		window.customElements.define(ButtonBack.is, ButtonBack)
	</script>
</dom-module>
